# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../BT_ChanLeThread\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\JavaProject\BT_ChanLeThread\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
